html, body
{
    font-family: 'Oxygen', sans-serif;
}

div.upload input,
div.image-upload input
{
    position: absolute;
    left: auto;
    right: 0px;
    top: 0px;
    margin: 0;
    padding: 0;
    opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    width: 100%;
    overflow: hidden;
}

a
{
    color: gray;
}

a:hover
{
    text-decoration: none;
}

li
{
    list-style: none;
}

.no-padding-left
{
    padding-left: 0px!important;
}

.no-padding-right
{
    padding-right: 0px!important;
}

.no-margin-top
{
    margin-top: 100px;
}

.historia-banner
{
    height:375px;
    background-size:cover !important;
    filter: grayscale(0%) brightness(80%);
    -webkit-filter: grayscale(0%) brightness(80%);
    -moz-filter: grayscale(0%) brightness(80%);
    -ms-filter: grayscale(0%) brightness(80%);
    -o-filter: grayscale(0%) brightness(80%);
    background-repeat: no-repeat;
    background-position: center;
}

.seccion-mama
{
    padding: 0px 25px;
}

.link-btn
{
    left: 1000px;
    top: 36px;
}

.banner-principal-abajo
{
    padding: 0px 4px;
}

.banner-izquerda
{
    padding: 4px 0px 0px 9px;
}

.banner-centro
{
    padding: 4px 0px 0px 0px;
}

.banner-derecha
{
    padding: 4px 8px 0px 0px;
}

.especial-mama
{
    height: auto;
    background-color: #9e5122;
    margin-top: 2px;
    margin-bottom: 3px;
}

.especial-mama-cont-boton
{
    position: relative;
    top: 36px;
    color: white;
}

.boton-mama
{
    background-color: transparent;
    border: solid 1px;
    padding: 10px 63px;
}

.text-cont
{
    margin-top: 40px;
    border-bottom: 1px solid #8a6d3b;
    text-transform: uppercase;
    color: #8a6d3b;
    padding-left: 20px;
    font-size: 28px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 200;
}

.btn-block
{
    border: solid 1px #ccc;
    color: #777;
}

.text-black
{
    margin-top: 40px;
    padding-left: 20px;
    font-size: 16px;
    margin-bottom: 30px;
    font-weight: 400;
}

.text-black-contenido
{
    margin-top: -10px;
    padding-left: 20px;
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: 400;
}

.text-black-contenido-2
{
    margin-top: 29px;
    padding-left: 20px;
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: 400;
}

.pin
{
    float: left !important;
    background: rgba(119, 119, 119, 0.43) !important;
    font-size: 15px !important;
    padding: 15px 11px !important;
    color: gray !important;
    font-weight: 600 !important;
    height: 51px;
    width: 31%;
    cursor: pointer;
}

img.editablelink
{
    position: absolute;
    left: 20px;
    bottom: 20px;
    z-index: 1030 !important;
}

div.image-upload
{
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1030 !important;
}


div.image-upload.par1
{
    position: absolute;
    right: 20px;
    top: 115px;
    z-index: 100000;
}

.box-chic
{
    width: 100%;
    position: relative;
    height: 500px;
    object-fit: cover;
    filter: grayscale(0%) brightness(75%);
    -webkit-filter: grayscale(0%) brightness(75%);
    -moz-filter: grayscale(0%) brightness(75%);
    -ms-filter: grayscale(0%) brightness(75%);
    -o-filter: grayscale(0%) brightness(75%);
}

.article-box-2
{
    overflow: hidden;
    padding: 0px 2px;
    height: 573px;
}

.article-box-3
{
    overflow: hidden;
    padding: 0px 2px;
    height: 250px;
}

.text-box
{
    position: absolute;
    bottom: 0px;
    width: 97%;
    color: white;
    font-size: 35px;
    margin-bottom: 5px;
    font-weight: 100;
    font-family: 'Oxygen', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.box-gra
{
    width: 100%;
    position: relative;
    height: 400px;
    object-fit: cover;
    filter: grayscale(0%) brightness(75%);
    -webkit-filter: grayscale(0%) brightness(75%);
    -moz-filter: grayscale(0%) brightness(75%);
    -ms-filter: grayscale(0%) brightness(75%);
    -o-filter: grayscale(0%) brightness(75%);
}

.box-med
{
    width: 100%;
    position: relative;
    height: 400px;
    object-fit: cover;
    filter: grayscale(0%) brightness(75%);
    -webkit-filter: grayscale(0%) brightness(75%);
    -moz-filter: grayscale(0%) brightness(75%);
    -ms-filter: grayscale(0%) brightness(75%);
    -o-filter: grayscale(0%) brightness(75%);
}

.box-ma
{
    width: 100%;
    position: relative;
    height: 450px;
    object-fit: cover;
    filter: grayscale(0%) brightness(75%);
    -webkit-filter: grayscale(0%) brightness(75%);
    -moz-filter: grayscale(0%) brightness(75%);
    -ms-filter: grayscale(0%) brightness(75%);
    -o-filter: grayscale(0%) brightness(75%);
}

.box-pe
{
    width: 100%;
    position: relative;
    height: 450px;
    object-fit: cover;
    filter: grayscale(0%) brightness(75%);
    -webkit-filter: grayscale(0%) brightness(75%);
    -moz-filter: grayscale(0%) brightness(75%);
    -ms-filter: grayscale(0%) brightness(75%);
    -o-filter: grayscale(0%) brightness(75%);
}

.fondo-contact
{
    width: 100%;
    height: auto;
}

.align-form-contact
{
    margin-left: auto;
    margin-right: auto;
    padding-left: 305px;
    margin-top: 30px;
    padding-right: 305px;
    padding-bottom: 20px;
}

div.image-upload.con
{
    position: absolute;
    right: 20px;
    top: 86px;
    z-index: 100000;
}

.texto-banner
{
    font-size: 38px;
    color: white;
    text-align: left;
    position: absolute;
    bottom: 0px;
    width: 70%;
    overflow: hidden;
    line-height: 31px;
    margin-bottom: 15px;
    font-weight: 200;
    font-family: 'Oxygen', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 465px;
    left: 20px;
}

.res
{
    text-align: left;
    font-size: 23px;
    color: white;
}

.text-one
{
    position: relative;
    top: 36px;
    margin-bottom: 60px;
    font-size: 26px;
    font-weight: 100;
    color: white;
}

.cuadros-home
{
    width: 100%;
    height: 420px;
    object-fit: cover;
    margin-bottom: 0px;
    filter: grayscale(0%) brightness(75%);
    -webkit-filter: grayscale(0%) brightness(75%);
    -moz-filter: grayscale(0%) brightness(75%);
    -ms-filter: grayscale(0%) brightness(75%);
    -o-filter: grayscale(0%) brightness(75%);
}

.cuadros-home-2
{
    width: 100%;
    height: 570px;
    object-fit: cover;
    margin-bottom: 40px;
    filter: grayscale(0%) brightness(80%);
    -webkit-filter: grayscale(0%) brightness(80%);
    -moz-filter: grayscale(0%) brightness(80%);
    -ms-filter: grayscale(0%) brightness(80%);
    -o-filter: grayscale(0%) brightness(80%);
}

.cuadros-home-3
{
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin-bottom: 40px;
    filter: grayscale(0%) brightness(75%);
    -webkit-filter: grayscale(0%) brightness(75%);
    -moz-filter: grayscale(0%) brightness(75%);
    -ms-filter: grayscale(0%) brightness(75%);
    -o-filter: grayscale(0%) brightness(75%);
}

.cuadros-home-4
{
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 40px;
    filter: grayscale(0%) brightness(75%);
    -webkit-filter: grayscale(0%) brightness(75%);
    -moz-filter: grayscale(0%) brightness(75%);
    -ms-filter: grayscale(0%) brightness(75%);
    -o-filter: grayscale(0%) brightness(75%);
}

.cuadros-home-5
{
    width: 106%;
    height: 250px;
    object-fit: cover;
    filter: grayscale(0%) brightness(80%);
    -webkit-filter: grayscale(0%) brightness(80%);
    -moz-filter: grayscale(0%) brightness(80%);
    -ms-filter: grayscale(0%) brightness(80%);
    -o-filter: grayscale(0%) brightness(80%);
}

.texto-img
{
    position: absolute;
    top: 28px;
    width: 97%;
    color: white;
    font-size: 35px;
    font-weight: 100;
    text-align: left;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    line-height: 33px;
    padding-left: 24px;
}

.texto-img-2
{
    position: absolute;
    bottom: 297px;
    width: 97%;
    color: white;
    font-size: 30px;
    font-weight: 100;
    text-align: center;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    line-height: 33px;
    padding-left: 17px;
    padding-right: 17px;
}

.hovereffect
{
    width:100%;
    height:100%;
    float:left;
    position:relative;
    text-align:center;
    cursor:default;
}

.hovereffect .overlay
{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: transparent;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.hovereffect img
{
    display:block;
    position:relative;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
}

.hovereffect h2
{
    text-transform:uppercase;
    color:#fff;
    text-align:center;
    position:relative;
    font-size:17px;
    background:rgba(0,0,0,0.6);
    -webkit-transform:translatey(-100px);
    -ms-transform:translatey(-100px);
    transform:translatey(-100px);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    padding:10px;
}

.hovereffect a.info
{
    text-decoration:none;
    display:inline-block;
    text-transform:uppercase;
    color:#fff;
    border:1px solid #fff;
    background-color:transparent;
    opacity:0;
    filter:alpha(opacity=0);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    margin:50px 0 0;
    padding:7px 14px;
}

.hovereffect a.info:hover
{
    box-shadow:0 0 5px #fff;
}

.hovereffect:hover .overlay
{
    opacity:1;
    filter:alpha(opacity=100);
}

.hovereffect:hover h2,
.hovereffect:hover a.info
{
    opacity:1;
    filter:alpha(opacity=100);
    -ms-transform:translatey(0);
    -webkit-transform:translatey(0);
    transform:translatey(0);
}

.hovereffect:hover a.info
{
    -webkit-transition-delay:.2s;
    transition-delay:.2s;
}

.fondo-form
{
    width: 100%;
    object-fit: cover !important;
    height: 375px;
    filter: grayscale(0%) brightness(55%);
    -webkit-filter: grayscale(0%) brightness(55%);
    -moz-filter: grayscale(0%) brightness(55%);
    -ms-filter: grayscale(0%) brightness(55%);
    -o-filter: grayscale(0%) brightness(55%);
}

.titulo-about
{
    position: absolute;
    bottom: 0px;
    color: white;
    font-size: 52px;
    width: 100%;
    padding-bottom: 41px;
    font-weight: 200;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.titulo-peq
{
    position: absolute;
    bottom: 0px;
    color: white;
    font-size: 25px;
    width: 100%;
}

.contenedor
{
    width: 100%;
    height: 162px;
    line-height: 114px;
    text-align: center;
    bottom: 410px;
    position: relative;
    margin-bottom: -150px;

}

.contenedor-2
{
    text-align: center;
    bottom: 0px;
    position: absolute;
}

.contenedor-2>div.tu
{
    display:inline-block;
    vertical-align:middle;
    line-height:normal;
    font-size: 30px;
    color: white;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 100;
    overflow: hidden;
    padding-left: 17px;
    padding-right: 17px;
}

.contenedor>div.tu
{
    display:inline-block;
    vertical-align:middle;
    line-height:normal;
    font-size: 30px;
    color: white;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 100;
    overflow: hidden;
    padding-left: 17px;
    padding-right: 17px;
}

.sep-home
{
    position: relative;
    top: 3px;
    padding: 0 24px;
}

.banner_home
{
    height: 500px;
    object-fit: cover;
    filter: grayscale(0%) brightness(80%);
    -webkit-filter: grayscale(0%) brightness(80%);
    -moz-filter: grayscale(0%) brightness(80%);
    -ms-filter: grayscale(0%) brightness(80%);
    -o-filter: grayscale(0%) brightness(80%);
    width: 99%;
}

/*-----------------------------------------------Responsive--------------------------------------------------*/
@media (max-width: 1199px)
{
    .img-mobile
    {
        margin-top: 0px !important;
    }

    .link-btn
    {
        left: 10px;
    }

    .logo-mob
    {
        width: 70px;
        position: relative;
        left: 27px;
    }

    .texto-img-2
    {
        position: relative;
        bottom: 349px;
        width: 97%;
        color: white;
        font-size: 28px;
    }
}

@media (max-width: 1127px)
{
    .texto-img-2
    {
        position: relative;
        bottom: 349px;
        width: 97%;
        color: white;
        font-size: 24px;
    }

    .texto-banner
    {
        font-size: 31px;
    }
}

@media (max-width: 991px)
{
    .boton-mama
    {
        left: 38%;
        position: relative;
    }

    .texto-banner
    {
        height: 280px;
        font-size: 16px;
    }

    .especial-mama-cont-boton
    {
        margin-bottom: 40px;
        top: 0px;
    }

    .banner-principal-abajo
    {
        padding: 0px 1px 0px 1px;
    }

    .banner_home
    {
        height: 300px;
    }

    .img-abajo
    {
        width: 100%;
    }

    .seccion-mama
    {
        padding: 0px 16px;
    }

    .banner-izquerda
    {
        padding: 4px 0px 0px 0px;
    }

    .banner-derecha
    {
        padding: 4px 0px 0px 0px;
    }

    .align-form-contact
    {
        padding-left: 0px;
        padding-right: 0px;
    }

    .hovereffect .overlay
    {
        width: 96%;
        height: 100%;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        opacity: 0;
        background-color: transparent;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
        border: 1px solid black;
    }

    .article-box-3
    {
        margin: 1% 0;
    }

    .contenedor>div.tu
    {
        padding-left: 48px;
        padding-right: 48px;
    }

    .contenedor-2>div.tu
    {
        padding-left: 48px;
        padding-right: 48px;
    }

    .banner-secundario
    {
        width: 100%;
        left: 0px;
    }
}

@media (max-width: 420px)
{
    .banner-secundario
    {
        line-height: 2rem;
        white-space: 0rem;
        font-size: 16px;
    }

    .banner-izquerda
    {
        margin-top: 130px;
    }

    .texto-banner
    {
        font-size: 20px;
        height: 280px;
    }

    .especial-mama-cont-boton
    {
        margin-bottom: 4px;
    }

    .boton-mama
    {
        position: relative;
        top: -12px;
        left: 42px;
    }

    .banner-principal-abajo
    {
        padding: 0px 0px;
    }

    .lateral.l-movil
    {
        left: -88px !important;
    }

    .seccion-mama
    {
        padding: 0px 17px;
    }
}

@media (max-width: 414px)
{
    .logo-mob
    {
        width: 73px !important;
        top: 2px;
        position: relative;
    }

    .img-mobile
    {
        margin-top: 0px !important;
    }

    .container.min.movil-cont
    {
        padding: 0px 17px;
    }

    .sep-home
    {
        padding: 0px 16px;
    }
}

@media (max-width: 375px)
{
    .banner-secundario
    {
        line-height: 1.7rem;
    }
}


@media (max-width: 320px)
{
    .especial-mama-cont-boton
    {
        left: 0%;
    }

    .texto-banner
    {
        font-size: 17px;
    }

    .sep-home
    {
        padding: 0px 14px;
    }

    .banner-secundario
    {
        line-height: 1.4rem;
        font-size: 16px;
    }

    .boton-mama
    {
        left: 33px;
    }
}
